name: Deploy to Production

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to server
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: 206.81.26.109
          username: root
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: /var/www/content-tool/deploy.sh
